@charset 'UTF-8';
@use "sass:math"; //計算関数
@use "../../global" as *;

/*
  3.2  -Project
----------------------------------------------------- */

/*
  じゃんけんアプリ！！！！
*/

.l-body.-gamepage {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/chihiro043.jpg);
}
.l-body.-kekkagamen {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/karigurashi022.jpg);
}
.l-body.-endingpage {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/porco007.jpg);
}
.heading {
  width: 80%;
  margin: 0 auto;
  padding: pxToRem(70px) 0 pxToRem(50px);
}
.heading.-y {
  display: none;
}
.addimg {
  width: 50%;
  height: 56vh;
  position: relative;
  margin: 0 auto;
}
.addimg img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22px;
}

.choice {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.btn {
  $font-size: 24px;
  font-size: pxToRem($font-size);
  border-radius: 38px;
  width: 300px;
  height: 80px;
  margin-right: pxToRem(32px);
  background-color: #e4efab;
  border: none;
}
.btn:last-of-type {
  margin-right: 0;
}

@keyframes ugoki {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toto_a,
.toto_b {
  display: none;
}
.toto_a.hyouzi,
.toto_b.hyouzi {
  display: block;
}
.toto_a.hyouzi img,
.toto_b.hyouzi img {
  width: 140vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation-name: ugoki;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
/*最後消す*/
.addimg.y {
  display: none;
}

.choice.y {
  display: none;
}

/*結果表示のところ*/

.KekkaBox {
  border-radius: 50%;
  background-color: #e4efab;
  width: 420px;
  height: 420px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: pxToRem(100px);
}
.kekkaP1 {
  width: 100%;
  $font-size: 24px;
  font-size: pxToRem($font-size);
  padding-bottom: pxToRem(32px);
  text-align: center;
}
.kekkaP2 {
  width: 100%;
  $font-size: 78px;
  font-size: pxToRem($font-size);
  padding-bottom: pxToRem(32px);
  text-align: center;
  font-weight: 600;
}
.kekkaP3 {
  $font-size: 24px;
  font-size: pxToRem($font-size);
  text-align: center;
}

.kekkaU {
  text-align: center;
  color: #fff;
  $font-size: 20px;
  font-size: pxToRem($font-size);
  font-weight: 600;
  padding-top: pxToRem(52px);
}

/*結果表示ページのボタン設定*/
.kekkaBtn {
  display: none;
}
.kekkaBtn.s {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: pxToRem(52px);
}
.btn.-next {
  $font-size: 22px;
  font-size: pxToRem($font-size);
  background-color: #a8bdcb;
  padding: pxToRem(24px) pxToRem(48px);
  margin-right: pxToRem(38px);
  border-radius: 38px;
  width: unset;
  height: unset;
}
.btn.-next:last-of-type {
  margin-right: 0;
}
.btn.-next a {
  text-decoration: none;
  color: inherit;
}
.btn.-next.-ending {
  background-color: #14345a;
  color: #fff;
}
/*
  トップページ
*/
.toppage.bg-gray {
  background-color: #f5f5f5;
}
.setumei-wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: pxToRem(32px);
  padding-top: pxToRem(56px);
  padding-bottom: pxToRem(48px);
}
.setumei-text {
  text-align: center;
  $font-size: 19px;
  font-size: pxToRem($font-size);
  line-height: 2;
}
.setumei-btn-wrapper {
  width: 180px;
  margin: pxToRem(48px) auto 0;
}
.setumei-btn {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: #1b627c;
  border: none;
  color: #fff;
  $font-size: 21px;
  font-size: pxToRem($font-size);
  position: relative;
}
.setumei-btn a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: center;
}
/*
  トップページ アニメーション
*/
.nime-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.bg-animation.-keyframe1 {
  position: absolute;
  top: 180px;
  left: -300px;
  z-index: -1000;
}
.keyframe1 {
  width: 290px;
  animation-name: anim_v1;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes anim_v1 {
  0% {
    transform: translate(-200px, 60px);
  }

  100% {
    transform: translate(120vw, 0px);
  }
}

.bg-animation.-keyframe2 {
  position: absolute;
  bottom: 60px;
  right: 80px;
  z-index: -1000;
}

.keyframe2 {
  width: 100px;
  animation-name: anim_v2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes anim_v2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
// .bg-animation.-keyframe4 {
//   position: absolute;
//   top: 320px;
//   left: 1300px;
//   z-index: -1000;
// }
// .keyframe4 {
//   width: 100px;
//   animation-name: anim_v;
//   animation-duration: 5s;
//   animation-delay: 3s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in;
// }

/*
  坊 アニメーション
*/
#js-bou {
  display: none;
}
#js-bou.-y {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.bg-animation.-keyframe3 {
  position: absolute;
  top: 180px;
  left: 180px;
  z-index: -1000;
}

.keyframe3 {
  width: 80px;
  animation-name: anim_w;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes anim_w {
  0% {
    transform: translate(0, 20px);
  }
  50% {
    transform: translate(0, 120px);
  }
  100% {
    transform: translate(0, 20px);
  }
}

/*エンディングページ*/
.ending-wrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  top: 62%;
  z-index: 1;
}
.ending-animation {
  position: absolute;
  top: 100%;
  left: 50%;

  margin-left: -200px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation-name: credits;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}

.ending-txt.-title {
  $font-size: 22px;
  font-size: pxToRem($font-size);
  padding-bottom: pxToRem(24px);
}
.ending-txt.-name {
  $font-size: 24px;
  font-size: pxToRem($font-size);
  padding-bottom: pxToRem(60px);
}
.ending-txt.-eiga {
  $font-size: 16px;
  font-size: pxToRem($font-size);
  padding-bottom: pxToRem(24px);
}
.ending-txt.-eiga span {
  display: block;
  $font-size: 14px;
  font-size: pxToRem($font-size);
  padding-top: pxToRem(12px);
}

.thanks-wrapper {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  top: 52%;
  animation-name: thank;
  animation-duration: 1000s;
  animation-delay: 51s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes thank {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.ending-txt.-thank {
  $font-size: 26px;
  font-size: pxToRem($font-size);
  padding-top: pxToRem(100px);
}

.totop-wrapper {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  top: 78%;
  animation-name: thank;
  animation-duration: 1000s;
  animation-delay: 53s;
  animation-iteration-count: 1;
  opacity: 0;
  z-index: 10000;
}
.ending-txt.-totop {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}
.ending-txt.-totop a {
  $font-size: 16px;
  font-size: pxToRem($font-size);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 38px;
  cursor: pointer;
}
